---
import Layout from "../layouts/Layout.astro"

const pageTitle = "About"
const title = "About Us"
const description =
  "This is the about page where you can learn more about our website."
---

<Layout pageTitle={pageTitle}>
  <h1>{title}</h1>
  <p>{description}</p>
</Layout>
