---
import Layout from "../layouts/Layout.astro"

const pageTitle = "Home"
const title = "Welcome to the Home Page"
const description = "This is the main content of the homepage."
---

<Layout pageTitle={pageTitle}>
  <h1>{title}</h1>
  <p>{description}</p>
</Layout>
